/* Write your code here: */
h1,h2{
    color: blueviolet;
}

/*.box is parent and p is child*/
.box > p{
    color: firebrick;
}

/* .box is parent li element is grand child */
.box li{
    color: blue;
} 
li.done{
    color: seagreen;     /*chining method -selectorselector */
}
ul p.done{
    font-size: 0.5rem;      /*combining combines- selector selectorselector */
}